$black-bg-color : rgb(54,69,79);
$skyblue-color : rgba(11, 186, 255, 0.879);
$orange-color: rgb(240, 110, 29);
$flex-prop : space-around; 
$flex-prop2 : space-evenly;
$flex-prop3 :space-between;
$ht : 50px;
$align-items: center;
$width: 100%;
$alignment : center;
$wid: 26%;